@page "/"


<div class="text-center">
    <h1>Hello, friend!</h1>
    <NavLink class="nav-link" href="Play/Play">
        <span class="oi oi-flag" aria-hidden="true"></span> Join Game!
    </NavLink>
</div>

